/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 body {
    position: relative;
 }
 .kickstarter-wrapper {
    background-color: #54518A;
    width: 100%;
}
img.mobile {
    display: none;
}
.right-column {
    width: 82%;
}
.hero-right, .hero-left {
    width: 50%;
}
@media screen and (max-width: 1270px) {
   
.left-column {
    display: none;
}
.right-column {
    width: 100%;
}
.hero-right, .hero-left {
    width: 100%;
}
}

@media screen and (max-width: 1135px) {
    .hero-wrapper {
        flex-direction: column;
    }

img.desktop {
    display: none;
}
img.mobile {
    display: block;
}
}
